alembic
annotated-types
anyio
click
colorama
fastapi
greenlet
h11
idna
jinja2
mako
markupsafe
mysql-connector-python
mysql
mysqlclient
pydantic-core
pydantic-settings
pydantic
python-dotenv
python-multipart
sniffio
sqlalchemy-utils
sqlalchemy
starlette
typing-extensions
uvicorn
scikit-learn